---
import MainLayout from "../layouts/MainLayout.astro";
import ContactHero from "../components/ContactHero.astro";
import ContactForm from "../components/ContactForm.astro";
import LocationSection from "../components/LocationSection.astro";
---

<MainLayout title="Contacto | San Jorge PI">
    <ContactHero />
    <div class="bg-white">
        <ContactForm />
        <LocationSection />
    </div>
</MainLayout>
